{% extends 'assets/base.html' %}

{% block content %}

<table class="table table-bordered">
    {% for electronicgadgets in electronicgadgetss %}
    <div class="container">
      <div class="date">
            <p>launch: {{ Electronicgadgets.launch_date }}</p>
      </div>
            <h4><a href="{% url 'electronicgadgets_detail' pk=electronicgadgets.pk %}">{{ Electronicgadgets.name }}</a></h4>
            <p>{{ Electronicgadgets.model|linebreaksbr }}</p>
        </div>
    {% endfor %}
</table>

{% endblock %}
