<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Table Information</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  </head>

  <body>
<div class="container">

  <!-- {% for electronicgadgets in electronicgadgetss %}
      <div>
          <p>launch: {{ electronicgadgets.launch_date }}</p>
          <h2><a href="">{{ electronicgadgets.name }}</a></h2>
          <p>{{ electronicgadgets.model|linebreaksbr }}</p>
      </div>
  {% endfor %} -->



  <h3 class="text-center">Assets</h3>
<h4>cars</h4>
    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Model</th>
      <th scope="col">Prize</th>
      <th scope="col">Launchdate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Sport Utility</th>
      <td>Volkswagen Atlas</td>
      <td>950000</td>
      <td>2018-11-21</td>
    </tr>
    <tr>
      <th scope="row">Sedan</th>
      <td>Tata Tigor EV</td>
      <td>500000</td>
      <td>2018-11-21</td>
    </tr>
    <tr>
      <th scope="row">Maruti Suzuki</th>
      <td>Suzuki Ertiga</td>
      <td>253000</td>
      <td>2018-11-21</td>
    </tr>
    <tr>
      <th scope="row">BMW</th>
      <td>BMW 5 Series</td>
      <td>340000</td>
      <td>2018-11-21</td>
    </tr>
  </tbody>
</table>

<h4>Electronicgadgets</h4>
    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Model</th>
      <th scope="col">Prize</th>
      <th scope="col">Launchdate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Computer</th>
      <td>Complete Desktop</td>
      <td>12000</td>
      <td>2018-11-21</td>
    </tr>
    <tr>
      <th scope="row">Laptop</th>
      <td>Dell</td>
      <td>30000</td>
      <td>2018-11-21</td>
    </tr>
    <tr>
      <th scope="row">Mobile</th>
      <td>Vivo Y71</td>
      <td>11000</td>
      <td>2018-11-21</td>
    </tr>
      </tbody>
</table>

<h4>Furnitures</h4>
    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Model</th>
      <th scope="col">Prize</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Dining table</th>
      <td>Round</td>
      <td>7000</td>
    </tr>
    <tr>
      <th scope="row">SofaSet</th>
      <td>Curved</td>
      <td>10000</td>
    </tr>
    <tr>
      <th scope="row">Table</th>
      <td>Normal</td>
      <td>2000</td>
    </tr>
      </tbody>
</table>

<h4>Kitchen</h4>
    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Ingrediants</th>
      <th scope="col">Manufactured date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Kitchen materials</th>
      <td>Gas, Cooking items, water etc.......</td>
      <td>2018-11-21</td>
    </tr>
    <tr>
      <th scope="row">ChilliPowder</th>
      <td>Some masala items</td>
      <td>2018-11-21</td>
    </tr>
    <tr>
      <th scope="row">FrideRice</th>
      <td>All vegetables, Chilli, salt, gingergarlic past etc......</td>
      <td>2018-11-21</td>
    </tr>
      </tbody>
</table>

<h4>Plasticmaterials</h4>
    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Quality</th>
      <th scope="col">Prize</th>
      <th scope="col">Launchdate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Plastic Doors</th>
      <td>good quality</td>
      <td>1500</td>
      <td>2018-11-21</td>
    </tr>
    <tr>
      <th scope="row">Box</th>
      <td>Fiber</td>
      <td>300</td>
      <td>2018-11-21</td>
    </tr>
    <tr>
      <th scope="row">Bottle</th>
      <td>Wild & Free Sipper Bottle</td>
      <td>750</td>
      <td>2018-11-21</td>
    </tr>
      </tbody>
</table>
</div>

    <!-- Footer Links -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>

<!-- Just to make our placeholder images work. Don't actually-->
  </body>
</html>
